/* A very basic CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up the body for full height and basic font styles */
html,
body {
  height: 100vh;
  width: 100vw;
  font-family: "Manrope", sans-serif;
  overflow: hidden;
  background: #000;
}

/* Ensure the p5 canvas sits behind everything */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  pointer-events: none; 
}

.header h1 {
  color: #fff;
  font-weight: 700;
  font-size: 7.8vw;
  letter-spacing: -0.05rem;
  text-align: center;
  opacity: 0.7;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em 0.5em 4em 0.5em;
  width: 200px;
  height: 225px;
  overflow: hidden;
  background-color: #fff;
  user-select: none;
  pointer-events: none;
  will-change: transform;
  z-index: 10;
  border-radius: 4px;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  border-radius: 4px;
}
@media (max-width: 768px) {
  .header h1 {
    font-size: 9vw;
  }
}
